button {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

button {
    /*appearance: none;*/
    border: 1px solid var(--figma-color-checkbox);
    border-radius: 2px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--figma-color-text);
    cursor: pointer;
    font-family: sans-serif;
    font-size: 11px;
    padding: 9px 8px;
    margin: 0;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

button:hover {
    border-color: var(--figma-color-border-selected);
    background: var(--figma-color-bg-selected);
}

button[disabled],
button[disabled]:hover {
    cursor: default;
    color: var(--figma-color-bg-disabled-secondary);
    border-color: var(--figma-color-bg-disabled-secondary);
    background: var(--figma-color-bg-disabled);
}
