form {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column;
    padding: 16px 8px 8px;
}

form:invalid button {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.4;
}

label,
input {
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.file {
    position: absolute;
    left: -999999px;
}
